PORT=
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
COOKIE_SECRET=
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTE=

# Redis
REDIS_HOST=

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Frontend
FRONTEND_BASE_URL=https://id-preview--ed9def5f-0228-43f5-a729-fd7f879f4d76.lovable.app/